@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@600&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Plus+Jakarta+Sans:ital,wght@0,800;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: "Baloo Bhaina 2", sans-serif;
    background-color: #192328;
}

:root {
    --color: black;
    --regular-color: white;
}

.main {
    min-height: 100vh;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ai-name {
    color: var(--regular-color);
    text-align: center;
    margin-bottom: 10px;
    font-size: 40px;
}

.image-container p {
    font-size: 22px;
    color: var(--regular-color);
    text-align: center;
    margin-bottom: 40px;
}

.image {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22vw;
    border-radius: 20px;
    background: #3C4053;
}

.talk {
    background: transparent;
    border: none;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
}

.talk i{
    font-size: 20px;
    color: #aed0d0;
}

.content{
    color: #aed0d0;
    font-size: 20px;
    margin-right: 20px;
}